#att_grades {
    position: absolute;
    top: 60%;
    left: 40%;
    margin: -100px 0 0 -100px;
}

#currentDate {
	font-size: 36px;
	text-align: center;
}

#present {
	color: green;
}

#absent {
	color: red;
}

#tardy {
	color: gold;
}