<html ng-app="educioModule">
<head>
  <title>Educio</title>
  <link rel="stylesheet" href="/assignments.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  <script type="text/javascript" src="/angularjs-module.js"></script>





  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">


</head>
<body>

<%- include partials/header.ejs %>
<%- include partials/sidebarTabs.ejs %>

<div id="main-content">
  <div id="assignments">

  <!-- TODO: The circular shape navigation must be implemented. -->

    <div id="top-functions">
      <button type="button" class="btn btn-danger btn-md" style="border-radius: 50%;"><span class="glyphicon glyphicon-minus"></span></button>
      <button type="button" class="btn btn-success btn-md" style="border-radius: 50%; float:right;"><span class="glyphicon glyphicon-plus"></span></button>
    </div>

    <h4 style="text-align: center;">Assignments</h4>
    <table class="table table-hover">
      <tr>
        <td id="name">Triangle Homework</td>
        <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
      </tr>
      <tr>
        <td id="name">Factorization</td>
        <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
      </tr>
      <tr>
        <td id="name">Multiplication</td>
        <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
      </tr>
      <tr>
        <td id="name">Exam One</td>
        <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
      </tr>
    </table>
  </div>
  <ng-view></ng-view>
</div>

</body>
</html>