<html ng-app="educioModule">
<head>
  <title>Educio</title>
  <link rel="stylesheet" href="/attendance_and_gradebook.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  <script type="text/javascript" src="/angularjs-module.js"></script>
</head>
<body>

<%- include partials/sidebarTabs.ejs %>

<div id="main-content">
	<div id="att_grades">
	<div id="currentDate">Date</div>
	<h4 style="text-align:center;">Attendance: <span id="present">P - Present</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="absent">A - Absent</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="tardy">T - Tardy</span></h4>
		<table class="table table-hover">
			<tr>
				<th>Student</th>
				<th>Attendance</th>
				<th>Grade</th>
				<th></th>
			</tr>
			<tr>
			    <td id="name">Sally Brown</td>
			    <td id="attendance"><input type="text" name="attendance" value="P" style="width:24px;"></td>
			    <td id="grade">A-</td>
			    <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
		  	</tr>
		  	<tr>
			    <td id="name">Sam Smith</td>
			    <td id="attendance"><input type="text" name="attendance" value="P" style="width:24px;"></td>
			    <td id="grade">B</td>
			    <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
		  	</tr>
		  	<tr>
			    <td id="name">Allie Baker</td>
			    <td id="attendance"><input type="text" name="attendance" value="P" style="width:24px;"></td>
			    <td id="grade">A+</td>
			    <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
		  	</tr>
		  	<tr>
			    <td id="name">Jon Farmer</td>
			    <td id="attendance"><input type="text" name="attendance" value="P" style="width:24px;"></td>
			    <td id="grade">C</td>
			    <td><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
		  	</tr>
		</table>
	</div>
	<ng-view></ng-view>
</div>

</body>
</html>