<html ng-app="educioModule">
<head>
  <title>Educio</title>
  <link rel="stylesheet" href="/class_information.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  <script type="text/javascript" src="/angularjs-module.js"></script>
</head>
<body>

<%- include partials/sidebarTabs.ejs %>

<div id="main-content">
  <form id="courseInfo-form" action="/" method="post">
          <h2 id="form-signin-heading">Class Information</h2>
          <label for="className">Class Name: </label>
          <input type="text" id="className" class="form-control" placeholder="Geometry" name="className" required autofocus><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        </form>


	<ng-view></ng-view>
</div>

</body>
</html>