<html ng-app="educioModule">
<head>
  <title>Educio</title>
  <!-- Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
</head>
<body>

<%- include partials/header.ejs %>

<div id="main-content">
	<!-- TODO: The circular shape navigation must be implemented. -->
	<ng-view></ng-view>
</div>

<%- include partials/footer.ejs %>

</body>
</html>