<html ng-app="educioModule">
<head>
  <title>Educio</title>
  <link rel="stylesheet" href="/class_view.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
  <script type="text/javascript" src="/angularjs-module.js"></script>
</head>
<body>

<%- include partials/header.ejs %>

<div id="main-content">
	<!-- TODO: The circular shape navigation must be implemented. -->
	<div id="tabs">
		<button><a href="/class/1/attendance_and_gradebook">Attendance and Gradebook</a></button>
		<button><a>Assignment</a></button>
		<button><a href="/class/1/agenda">Agenda</a></button>
		<button><a>Class Information</a></button>
	</div>
	<ng-view></ng-view>
</div>

</body>
</html>