<html ng-app="educioApp">
<head>
  <title>Educio</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.min.js"></script>
  <script type="text/javascript" src="angularjs-config.js"></script>
</head>
<body>

<div data-ng-include data-src="'partials/header.html'"></div>

<div id="main-content">
	<!-- A beautiful image could go here in the middle of the page. -->
</div>

<div data-ng-include data-src="'partials/footer.html'"></div>

</body>
</html>