<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/home.css" />
</head>
<body>

<div id="header">
	<%- include partials/sideBarClasses.ejs %>
</div>

<div id="main-content">
	<%- include new_class.ejs %>
</div>

</body>
</html>