<html>
<head>
	<title>Educio</title>
  	<link rel="stylesheet" href="home.css" />
</head>
<body>

<div id="header">
	<%- include partials/header.ejs %>
</div>

<div id="main-content">
	<% classes.forEach(function(classObj) { %>
	  <a href="/class/<%= classObj._id %>"><%= classObj.name %></a>
	<% }) %>
	<div id="classes">
		<button><a href="class/">English</a></button>
		<button><a href="class/">Geometry</a></button>
		<button><a href="class/">Calculus I</a></button>
		<button><a href="class/">Algebra</a></button>
	</div>
</div>

</body>
</html>