<html>
<head>
	<title>Educio</title>
	<link rel="stylesheet" href="home.css" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div id="header">
	<%- include partials/header.ejs %>
</div>

<div id="main-content">
	<% classes.forEach(function(classObj) { %>
	  <a href="/class/<%= classObj._id %>"><%= classObj.name %></a>
	<% }) %>
	<div id="classes">
		<button><a href="class/1">English</a></button>
		<button><a href="class/2">Geometry</a></button>
		<button><a href="class/3">Calculus I</a></button>
		<button><a href="class/4">Algebra</a></button>
	</div>
</div>

</body>
</html>