<html>
<head>
  <title>Add Class</title>
  <link rel="stylesheet" href="/new_class.css" />
  <link rel="stylesheet" type="text/css" href="/jonthornton-jquery-timepicker/jquery.timepicker.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/jonthornton-jquery-timepicker/jquery.timepicker.js"></script>
</head>
<body>

	<%- include partials/sidebarClasses.ejs %>

	<div id="newClass" class="row">
		<h2 id="form-signin-heading" style="text-align:center;">Add Class</h2><br>

		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <label for="className" class="col-lg-3 control-label">Class Name:</label>
		    <div class="col-lg-14">
		    	<input type="text" id="className" class="form-control" name="className" required autofocus>
		    </div>
		  </div>

		  <div class="form-group">
		  	<label for="classDates" class="col-lg-3 control-label">Class Dates:</label>
		  	<div class="col-lg-14">
		  		<label class="checkbox-inline"><input type="checkbox" value="M">M</label>
				<label class="checkbox-inline"><input type="checkbox" value="T">T</label>
				<label class="checkbox-inline"><input type="checkbox" value="W">W</label>
				<label class="checkbox-inline"><input type="checkbox" value="Th">Th</label>
				<label class="checkbox-inline"><input type="checkbox" value="F">F</label>
		  	</div>
		  </div>

		  <div class="form-group">
		  	<label for="classTime" class="col-lg-3 control-label">Class Time:</label>
		    <div class="col-lg-14">
		    	<div id="timepicker1" style="width: 25%;" class="input-group bootstrap-timepicker timepicker">
	            	<input type="text" class="form-control input-small">
	            	<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	        	</div>

	        	<script type="text/javascript">
		            jQuery('#timepicker1').timepicker();
		        </script>
		    </div>
		  </div>
    	  <button class="btn btn-lg btn-primary btn-block" type="submit">Add Class</button>
    	</form>
	</div>
	
</body>
</html>