<html>
<head>
  <title>Educio Signup</title>
    <link rel="stylesheet" href="signup.css" />
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<% if (message.length > 0) { %>
    <div><%= message %></div>
<% } %>
<div id="signup-page">
	<form role="form" action="/signup" method="post">
		<h2 id="form-signin-heading">Sign Up</h2>
		<div class="form-group">
			<label for="firstName">First Name:</label>
	  		<input type="text" class="form-control" name="firstName" id="firstName">
	  	</div>
	  	<div class="form-group">
			<label for="lastName">Last Name:</label>
	  		<input type="text" class="form-control" name="lastName" id="lastName">
	  	</div>
	  	<div class="form-group">
		    <label for="email">Email address:</label>
		    <input type="email" class="form-control" name="email" id="email">
		</div>
	  	<div class="form-group">
	    	<label for="pwd">Password:</label>
	    	<input type="password" class="form-control" name="password" id="password">
	  	</div>
	  	<button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
	</form>

	<p>Already have an account? <a href="/login">Login</a></p>
</div>

</body>
</html>