<html ng-app="educioModule">
<head>
  <title>Assignments</title>
  <link rel="stylesheet" href="../styles/assignments.css" />
  <link rel="stylesheet" href="../styles/sidebarTabs.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/usersname_setter.js"></script>
  <script src="../js/verify_loggedIn.js"></script>
  <script src="../js/assignments.js"></script>
</head>
<body>

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li style="color: white;">
          <div class="sidebar-brand"><h1>Geometry</h1></div>
          <h4><i id="usersname"></i></h4>
      </li>
      <br><br>
      <li><a href="attendance_and_gradebook.html">Attendance and Gradebook</a></li>
      <li><a href="agenda.html">Agenda</a></li>
      <li><a href="assignments.html">Assignments</a></li>
      <li><a href="class_information.html">Class Information</a></li><br>
      <li style="float: left; width: 50%; text-align: center;">
        <a href="home.html"><span class="glyphicon glyphicon-home imagePadding"></span></a>
      </li>
      <li>
        <a href="logout.html"><span class="glyphicon glyphicon-log-out imagePadding"></span></a>
      </li>
  </ul>
</div>

<div id="main-content">
  <div id="assignments">
    <div id="top-functions">

      <!-- ############################## -->
      <!-- #### Add Assignment Modal #### -->
      <!-- ############################## -->
      <div class="modal fade" id="addAssignmentModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 class="form-signin-heading" style="text-align:center;">Add Assignment</h2>
            </div>
            <div class="modal-body">
              <form id="addAssignment-form">
                <label for="assignmentName" class="sr-only">Assignment Name: </label>
                <input type="text" id="assignmentName" class="form-control" name="assignmentName" placeholder="Assignment Name" name="assignmentName" required autofocus><br>

                <label for="totalPoints" class="sr-only">Total Points: </label>
                <input type="text" id="totalPoints" class="form-control" name="totalPoints" placeholder="Total Points" name="totalPoints" required autofocus><br>
                        
                <table class="table">
                  <tr>
                    <th>Student</th>
                    <th>Points Earned</th>
                  </tr>
                  <tr>
                    <td>Sally Brown</td>
                    <td><input id="sallyPointsEarned" type="text" name="pointsEarned"></td>
                  </tr>
                  <tr>
                    <td id="name">Sam Smith</td>
                    <td><input id="samPointsEarned" type="text" name="pointsEarned"></td>
                  </tr>
                  <tr>
                    <td id="name">Allie Baker</td>
                    <td><input id="alliePointsEarned" type="text" name="pointsEarned"></td>
                  </tr>
                  <tr>
                    <td id="name">Jon Farmer</td>
                    <td><input id="jonPointsEarned" type="text" name="pointsEarned"></td>
                  </tr>
                </table>
              </form>
            </div>
            <div class="modal-footer">
              <button id="addAssignmentBtn" class="btn btn-lg btn-primary btn-block" type="submit" data-dismiss="modal">Add Assignment</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ################################# -->
    <!-- #### Delete Assignment Modal #### -->
    <!-- ################################# -->
    <div class="modal fade" id="deleteRowModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
          </div>
      
          <div class="modal-body">
              <p>You are about to delete this assignment.</p>
              <p>Do you want to proceed?</p>
          </div>
          
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <a id="deleteRowConfirmationBtn" class="btn btn-danger btn-ok">Delete</a>
          </div>

        </div>
      </div>
    </div>

    <!-- ################################################### -->
    <!-- #### Delete All Assignments Confirmation Modal #### -->
    <!-- ################################################### -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
              </div>
          
              <div class="modal-body">
                  <p>You are about to delete <span style="font-weight: bold">all</span> assignments.</p>
                  <p>Do you want to proceed?</p>
              </div>
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <a id="deleteClick" class="btn btn-danger btn-ok">Delete</a>
              </div>
          </div>
      </div>
    </div>

      <a href="#" data-toggle="modal" data-target="#confirm-delete">
        <button id="deleteAll" type="button" class="btn btn-danger btn-lg btn-round" style="width: 75px; height: 75px; border-radius: 50%;">
          <span class="glyphicon glyphicon-trash" style="align: center;"></span>
        </button>
      </a>
  
    <a href="#" data-toggle="modal" data-target="#addAssignmentModal">
      <button type="button" class="btn btn-success btn-lg btn-round" style="width: 75px; height: 75px; border-radius: 50%;float:right;">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </a>


    <h2 id="form-signin-heading" style="text-align: center;">Assignments</h2>
    <table id="assignmentTable" class="table" style="text-align:center;">
      <tr id="row-1">
        <td><a href="#" data-toggle="modal" data-target="#deleteRowModal" data-row-index="1"><button type="button" class="btn btn-danger btn-xs" style="width: 35px; height: 35px; border-radius: 50%;"><span class="glyphicon glyphicon-minus" style="font-size: 20px;"></span></button></td>
        <td id="name" style="text-align: center;">Triangle Homework</td>
        <td><button id="expand-1" data-expanded="0" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
      </tr>
      <tr id="expanded-1" style="display:none;">
            <td colspan="4">
              <table class="table">
                <tr>
                  <th></th>
                  <th>Student</th>
                  <th>Grade</th>
                  <th>Total Points</th>
                </tr>
                <tr>
                  <td></td>
                  <td class="student">Sally Brown</td>
                  <td class="grade"><input type="text" name="grade" value="9" style="width:100%;"></td>
                  <td class="totalPoints">10</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="student">Sam Smith</td>
                  <td class="grade"><input type="text" name="grade" value="9" style="width:100%;"></td>
                  <td class="totalPoints">10</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="student">Allie Baker</td>
                  <td class="grade"><input type="text" name="grade" value="8" style="width:100%;"></td>
                  <td class="totalPoints">10</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="student">Jon Farmer</td>
                  <td class="grade"><input type="text" name="grade" value="5" style="width:100%;"></td>
                  <td class="totalPoints">10</td>
                </tr>
              </table>
            </td>
            <script type="text/javascript">
              jQuery( "#expand-1" ).click(function() {
                var buttonElement = jQuery(this);
                if (buttonElement.data("expanded") == 1) {
                  jQuery( "#expanded-1" ).slideUp( "slow", function() {
                    buttonElement.data("expanded", "0");
                  });
                } else {
                  jQuery( "#expanded-1" ).slideDown( "slow", function() {
                    buttonElement.data("expanded", "1");
                  });
                }
            });
            </script>
          </tr>
          <tr id="row-2">        
            <td><a href="#" data-toggle="modal" data-target="#deleteRowModal" data-row-index="2"><button type="button" class="btn btn-danger btn-xs" style="border-radius: 50%; width:35px; height: 35px;"><span class="glyphicon glyphicon-minus" style="font-size: 20px;"></span></button></td>        
            <td id="name" style="text-align: center;">Factorization</td>
            <td><button id="expand-2" data-expanded="0" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
          </tr>
          <tr id="expanded-2" style="display:none;">
          <td colspan="4">
            <table class="table">
              <tr>
                <th></th>
                <th>Student</th>
                <th>Grade</th>
                <th>Total Points</th>
              </tr>
              <tr>
                <td></td>
                <td class="student">Sally Brown</td>
                <td class="grade"><input type="text" name="grade" value="9" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
              <tr>
                <td></td>
                <td class="student">Sam Smith</td>
                <td class="grade"><input type="text" name="grade" value="9" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
              <tr>
                <td></td>
                <td class="student">Allie Baker</td>
                <td class="grade"><input type="text" name="grade" value="8" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
              <tr>
                <td></td>
                <td class="student">Jon Farmer</td>
                <td class="grade"><input type="text" name="grade" value="5" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
            </table>
          </td>
          <script type="text/javascript">
            jQuery( "#expand-2" ).click(function() {
              var buttonElement = jQuery(this);
              if (buttonElement.data("expanded") == 1) {
                jQuery( "#expanded-2" ).slideUp( "slow", function() {
                  buttonElement.data("expanded", "0");
                });
              } else {
                jQuery( "#expanded-2" ).slideDown( "slow", function() {
                  buttonElement.data("expanded", "1");
                });
              }
          });
          </script>
        </tr>
        <tr id="row-3">
          <td><a href="#" data-toggle="modal" data-target="#deleteRowModal" data-row-index="3"><button type="button" class="btn btn-danger btn-xs" style="border-radius: 50%; width:35px; height: 35px;"><span class="glyphicon glyphicon-minus" style="font-size: 20px;"></span></button></td>        
          <td id="name" style="text-align: center;">Multiplication</td>
          <td><button id="expand-3" data-expanded="0" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
        </tr>
          <tr id="expanded-3" style="display:none;">
          <td colspan="4">
            <table class="table">
              <tr>
                <th></th>
                <th>Student</th>
                <th>Grade</th>
                <th>Total Points</th>
              </tr>
              <tr>
                <td></td>
                <td class="student">Sally Brown</td>
                <td class="grade"><input type="text" name="grade" value="9" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
              <tr>
                <td></td>
                <td class="student">Sam Smith</td>
                <td class="grade"><input type="text" name="grade" value="9" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
              <tr>
                <td></td>
                <td class="student">Allie Baker</td>
                <td class="grade"><input type="text" name="grade" value="8" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
              <tr>
                <td></td>
                <td class="student">Jon Farmer</td>
                <td class="grade"><input type="text" name="grade" value="5" style="width:100%;"></td>
                <td class="totalPoints">10</td>
              </tr>
            </table>
          </td>
          <script type="text/javascript">
            jQuery( "#expand-3" ).click(function() {
              var buttonElement = jQuery(this);
              if (buttonElement.data("expanded") == 1) {
                jQuery( "#expanded-3" ).slideUp( "slow", function() {
                  buttonElement.data("expanded", "0");
                });
              } else {
                jQuery( "#expanded-3" ).slideDown( "slow", function() {
                  buttonElement.data("expanded", "1");
                });
              }
          });
          </script>
        </tr>
        <tr id="row-4">
          <td><a href="#" data-toggle="modal" data-target="#deleteRowModal" data-row-index="=4"><button type="button" class="btn btn-danger btn-xs" style="border-radius: 50%; width:35px; height: 35px;"><span class="glyphicon glyphicon-minus" style="font-size: 20px;"></span></button></td>        
          <td id="name" style="text-align: center;">Exam One</td>
          <td><button id="expand-4" data-expanded="0" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;"><span class="caret"></span></button></td>
        </tr>
        <tr id="expanded-4" style="display:none;">
          <td colspan="4">
            <table class="table">
              <tr>
                <th></th>
                <th>Student</th>
                <th>Grade</th>
                <th>Total Points</th>
              </tr>
              <tr>
                <td></td>
                <td class="student">Sally Brown</td>
                <td class="grade"><input type="text" name="grade" value="95" style="width:100%;"></td>
                <td id="totalPoints">100</td>
              </tr>
              <tr>
                <td></td>
                <td class="student">Sam Smith</td>
                <td class="grade"><input type="text" name="grade" value="90" style="width:100%;"></td>
                <td class="totalPoints">100</td>
              </tr>
              <tr>                
                <td></td>
                <td class="student">Allie Baker</td>
                <td class="grade"><input type="text" name="grade" value="80" style="width:100%;"></td>
                <td class="totalPoints">100</td>
              </tr>
              <tr>                
                <td></td>
                <td class="student">Jon Farmer</td>
                <td class="grade"><input type="text" name="grade" value="55" style="width:100%;"></td>
                <td class="totalPoints">100</td>
              </tr>
            </table>
          </td>
          <script type="text/javascript">
            jQuery( "#expand-4" ).click(function() {
              var buttonElement = jQuery(this);
              if (buttonElement.data("expanded") == 1) {
                jQuery( "#expanded-4" ).slideUp( "slow", function() {
                  buttonElement.data("expanded", "0");
                });
              } else {
                jQuery( "#expanded-4" ).slideDown( "slow", function() {
                  buttonElement.data("expanded", "1");
                });
              }
          });
          </script>
        </tr>

        <!-- ################################# -->
        <!-- #### Grade Update Modal ######### -->
        <!-- ################################# -->

        <div class="modal fade" id="confirmGradeUpdate" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 style="text-align:center;">Grade Updated</h2>
              </div>
              <div class="modal-body" style="text-align:center;">
                You've updated the grade.
              </div>
              <div class="modal-footer">
                <button id="okButton" class="btn btn-lg btn-primary btn-block" type="close" data-dismiss="modal">Close</button>
            </div>
            </div>
          </div>
        </div>
    </table>
  </div>
</div>

</body>
</html>