<html ng-app="educioModule">
<head>
  <title>Class Agenda Notes</title>
  <link rel="stylesheet" href="../styles/class_agenda_notes.css">
  <link rel="stylesheet" href="../styles/sidebarTabs.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../js/usersname_setter.js"></script>
  <script src="../js/verify_loggedIn.js"></script>
  <script src="../js/selectedDate_setter.js"></script>
  <script src="../js/class_agenda_notes.js"></script>
</head>
<body>

<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	    <li style="color: white;">
	        <div class="sidebar-brand"><h1>Geometry</h1></div>
	        <h4><i id="usersname"></i></h4>
	    </li>
	    <br><br>
	    <li><a href="attendance_and_gradebook.html">Attendance and Gradebook</a></li>
	    <li><a href="agenda.html">Agenda</a></li>
	    <li><a href="assignments.html">Assignments</a></li>
	    <li><a href="class_information.html">Class Information</a></li><br>
	    <li style="float: left; width: 50%; text-align: center;">
	    	<a href="home.html"><span class="glyphicon glyphicon-home imagePadding"></span></a>
	    </li>
	    <li>
	    	<a href="logout.html"><span class="glyphicon glyphicon-log-out imagePadding"></span></a>
	    </li>
	</ul>
</div>

<div id="main-content">
  	<div id="agendaNotes">

	    <div id="top-functions">
	    	<a href="agenda.html"><button type="button" class="btn btn-primary btn-lg btn-round" style="width: 75px; height: 75px; border-radius: 50%;"><span class="glyphicon glyphicon-calendar"></span></button></a>
	      	
	      	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	        	<div class="modal-dialog">
	            	<div class="modal-content">
	            
		                <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
		                </div>
		            
		                <div class="modal-body">
		                    <p>You are about to delete <span style="font-weight: bold">all</span> agenda items.</p>
		                    <p>Do you want to proceed?</p>
		                </div>
		                
		                <div class="modal-footer">
		                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		                    <a id="deleteClick" class="btn btn-danger btn-ok">Delete</a>
		                </div>
		            </div>
		        </div>
	      	</div>

  			<a href="#" data-toggle="modal" data-target="#confirm-delete">
  				<button id="deleteAll" type="button" class="btn btn-danger btn-lg btn-round" style="width: 75px; height: 75px; border-radius: 50%;">
  					<span class="glyphicon glyphicon-trash" style="align: center;"></span>
  				</button>
  			</a>

  			<a href="#" data-toggle="modal" data-target="#addNoteModal">
  				<button type="button" class="btn btn-success btn-lg btn-round" style="width: 75px; height: 75px; border-radius: 50%; float:right;">
  					<span class="glyphicon glyphicon-ok"></span>
  				</button>
  			</a>

	      	<!-- ######################## -->
	        <!-- #### Add Note Modal #### -->
	        <!-- ######################## -->
	      	<div class="modal fade" id="addNoteModal" role="dialog">
		        <div class="modal-dialog">
		        
		          	<div class="modal-content">
			            <div class="modal-header">
			              	<button type="button" class="close" data-dismiss="modal">&times;</button>
			              	<h1 class="form-signin-heading" style="text-align:center;">Agenda Item</h1>
			            </div>
			            <div class="modal-body">
			              	<form id="addAgendaNoteForm">
				                <label for="agendaNoteName" class="sr-only">Agenda Item: </label>
				                <input type="text" id="agendaNoteName" class="form-control" name="assignmentName" placeholder="Assignment Name" required autofocus><br>

				                <span class="btn btn-default btn-file">
									Browse <input type="file" id="files" name="files[]" multiple />
								</span>
								<output id="addAgendaDocList"></output>

								<script>
								  	function handleFileSelect(evt) {
								    	var files = evt.target.files; // FileList object

								    	// files is a FileList of File objects. List some properties.
								    	var output = [];
								    	for (var i = 0, f; f = files[i]; i++) {
								      		output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
								                  f.size, ' bytes, last modified: ',
								                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
								                  '</li>');
								    	}
								    	document.getElementById('addAgendaDocList').innerHTML = '<ul>' + output.join('') + '</ul>';
								  	}

								  	document.getElementById('files').addEventListener('change', handleFileSelect, false);
								</script>



				                <label for="notes" class="sr-only">Notes: </label>
				                <textarea id="notesTextArea" rows="4" cols="50" placeholder="Notes"></textarea><br>
				                <button id="hiddenAddAgendaItemBtn" type="submit" style="display: none"></button>
			               	</form>
			           	</div>
			            <div class="modal-footer">
			              	<button id="addAgendaNoteBtn" class="btn btn-lg btn-primary btn-block" type="submit">Add Agenda Item</button>
			            </div>
			      	</div>
		    	</div>
			</div>

		    <!-- ################################# -->
		    <!-- #### Delete Assignment Modal #### -->
		    <!-- ################################# -->
		    <div class="modal fade" id="deleteRowModal" tabindex="-1" role="dialog" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">

		          <div class="modal-header">
		              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		              <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
		          </div>
		      
		          <div class="modal-body">
		              <p>You are about to delete this note.</p>
		              <p>Do you want to proceed?</p>
		          </div>
		          
		          <div class="modal-footer">
		              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		              <a id="deleteRowConfirmationBtn" class="btn btn-danger btn-ok">Delete</a>
		          </div>

		        </div>
		      </div>
		    </div>

	    	<h2 id="form-signin-heading" style="text-align: center;">Agenda Items</h2>
	    	<h3 id="selectedDate" style="text-align: center;"></h3>

		    <table id="agendNotesTable" class="table table-hover" style="text-align:center;">
		      <tr id="row-1">
				<td class="delete">
					<a href="#" data-toggle="modal" data-target="#deleteRowModal" data-row-index="1">
						<button type="button" class="btn btn-danger btn-xs" style="border-radius: 50%; width:35px; height: 35px;">
							<span class="glyphicon glyphicon-minus"></span>
						</button>
					</a>
				</td>
				<td id="name">
					Notes
				</td>
		        <td>
		        	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="padding: 4px; margin: 8 0 0 16;">
		        		<span class="caret"></span>
		        	</button>
		        </td>
		      </tr>
		    </table>

  		</div>
  	</div>
</div>

</body>
</html>