.r {
	height: 50px;
}

#today-date {
	
}

#nextMonthBtn {
    color: gold;
    cursor: hand;
    font-size: 32px;
}

#prevMonthBtn{
    color: gold;
    cursor: hand;
    font-size: 32px;
}

#date-row {
    display: flex;
    align-items: center;
}