<html>
<head>
  <title>Educio</title>
  <link rel="stylesheet" href="/sideBarClasses.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand" style="color: white;"><h1>Educio</h1></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-home imagePadding"></span> Home</a></li>
            <li><a href="class/1">English</a></li>
            <li><a href="class/1">Geometry</a></li>
            <li><a href="class/1">Calculus I</a></li>
            <li><a href="class/1">Algebra</a></li>
            <li><a href="/logout"><span class="imagePadding glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</body>