<html>
<head>
  <title>Educio</title>
  <link rel="stylesheet" href="/sideBarClasses.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li style="color: white;">
                <div class="sidebar-brand"><h1>Educio</h1></div>
                <h4><i><%= teacher.first_name %> <%= teacher.last_name %></i></h4>
            </li>
            <li><a href="/home"><span class="glyphicon glyphicon-home imagePadding"></span> Home</a></li>
            <li><a href="class/1">English</a></li>
            <li><a href="class/1">Geometry</a></li>
            <li><a href="class/1">Calculus I</a></li>
            <li><a href="class/1">Algebra</a></li>
            <li><a href="/logout"><span class="imagePadding glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</body>