<html ng-app="educioModule">
<head>
  <title>Educio</title>
  <link rel="stylesheet" href="/sideBarTabs.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li style="color: white;">
                <div class="sidebar-brand"><h1>Geometry</h1></div>
                <h4><i><%= teacher.first_name %> <%= teacher.last_name %></i></h4>
            </li>
            <br><br>
            <li><a href="/home"><span class="glyphicon glyphicon-home imagePadding"></span> Home</a></li>
            <li><a href="/class/1/attendance_and_gradebook">Attendance and Gradebook</a></li>
            <li><a href="/class/1/agenda">Agenda</a></li>
            <li><a href="/class/1/assignments">Assignments</a></li>
            <li><a href="/class/1/class_information">Class Information</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out imagePadding"></span> Logout</a></li>
        </ul>
    </div>
</body>